In [1]:
import pandas as pd 
df=pd.read_csv("decision_tree.csv")
df

       Company                  Job     Degree  Salary more than 100k
0       Google      Sales Executive  Bachelors                      0
1       Google      Sales Executive    Masters                      0
2       Google     Business Manager  Bachelors                      1
3       Google     Business Manager    Masters                      1
4       Google  Computer programmer  Bachelors                      0
5       Google  Computer programmer    Masters                      1
6   ABC Pharma      Sales Executive    Masters                      0
7   ABC Pharma  Computer programmer  Bachelors                      0
8   ABC Pharma     Business Manager  Bachelors                      0
9   ABC Pharma     Business Manager  Bachelors                      1
10    Facebook      Sales Executive    Masters                      1
11    Facebook      Sales Executive  Bachelors                      1
12    Facebook     Business Manager    Masters                      1
13    Facebook     Business Manager    Masters                      1
14    Facebook  Computer programmer  Bachelors                      1
15    Facebook  Computer programmer    Masters                      1

In [9]:
inputs=df.drop("Salary more than 100k",axis="columns")
target=df["Salary more than 100k"]

In [7]:
inputs

       Company                  Job     Degree
0       Google      Sales Executive  Bachelors
1       Google      Sales Executive    Masters
2       Google     Business Manager  Bachelors
3       Google     Business Manager    Masters
4       Google  Computer programmer  Bachelors
5       Google  Computer programmer    Masters
6   ABC Pharma      Sales Executive    Masters
7   ABC Pharma  Computer programmer  Bachelors
8   ABC Pharma     Business Manager  Bachelors
9   ABC Pharma     Business Manager  Bachelors
10    Facebook      Sales Executive    Masters
11    Facebook      Sales Executive  Bachelors
12    Facebook     Business Manager    Masters
13    Facebook     Business Manager    Masters
14    Facebook  Computer programmer  Bachelors
15    Facebook  Computer programmer    Masters

In [10]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Salary more than 100k, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
company=LabelEncoder()
job=LabelEncoder()
degree=LabelEncoder()

In [24]:
inputs["company_c"]=company.fit_transform(inputs["Company"])
inputs["job_c"]=job.fit_transform(inputs["Job"])
inputs["degree_c"]=degree.fit_transform(inputs["Degree"])

In [25]:
inputs

       Company                  Job     Degree  company_c  job_c  degree_c
0       Google      Sales Executive  Bachelors          2      3         0
1       Google      Sales Executive    Masters          2      3         1
2       Google     Business Manager  Bachelors          2      1         0
3       Google     Business Manager    Masters          2      1         1
4       Google  Computer programmer  Bachelors          2      2         0
5       Google  Computer programmer    Masters          2      2         1
6   ABC Pharma      Sales Executive    Masters          0      3         1
7   ABC Pharma  Computer programmer  Bachelors          0      2         0
8   ABC Pharma     Business Manager  Bachelors          0      1         0
9   ABC Pharma     Business Manager  Bachelors          0      1         0
10    Facebook      Sales Executive    Masters          1      3         1
11    Facebook      Sales Executive  Bachelors          1      3         0
12    Facebook     Business Manager    Masters          1      0         1
13    Facebook     Business Manager    Masters          1      1         1
14    Facebook  Computer programmer  Bachelors          1      2         0
15    Facebook  Computer programmer    Masters          1      2         1

In [21]:
new_inputs=inputs.drop(["company_c","job_c","degree_c"],axis="columns")
new_inputs

       Company                  Job     Degree
0       Google      Sales Executive  Bachelors
1       Google      Sales Executive    Masters
2       Google     Business Manager  Bachelors
3       Google     Business Manager    Masters
4       Google  Computer programmer  Bachelors
5       Google  Computer programmer    Masters
6   ABC Pharma      Sales Executive    Masters
7   ABC Pharma  Computer programmer  Bachelors
8   ABC Pharma     Business Manager  Bachelors
9   ABC Pharma     Business Manager  Bachelors
10    Facebook      Sales Executive    Masters
11    Facebook      Sales Executive  Bachelors
12    Facebook     Business Manager    Masters
13    Facebook     Business Manager    Masters
14    Facebook  Computer programmer  Bachelors
15    Facebook  Computer programmer    Masters

In [26]:
from sklearn import tree

In [28]:
reg=tree.DecisionTreeClassifier()
reg.fit(new_inputs,target)

ValueError: could not convert string to float: 'Google'

In [29]:
reg.predict([[2,3,1]])

c:\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

AttributeError: 'DecisionTreeClassifier' object has no attribute 'tree_'