In [87]:
import pandas as pd 
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [88]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [89]:
df["Spam"]=df["Category"].apply(lambda x: 1 if x=="spam" else 0)
df.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [90]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.Spam,test_size=0.25)

In [91]:
x_train.values

array(["I'm ok. Will do my part tomorrow", 'Did u got that persons story',
       'ALRITE', ...,
       'The beauty of life is in next second.. which hides thousands of secrets. I wish every second will be wonderful in ur life...!! gud n8',
       'Lol grr my mom is taking forever with my prescription. Pharmacy is like 2 minutes away. Ugh.',
       'tap & spile at seven. * Is that pub on gas st off broad st by canal. Ok?'],
      dtype=object)

In [92]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [93]:
from sklearn.naive_bayes import MultinomialNB
mul=MultinomialNB()
mul.fit(x_train_count,y_train)

MultinomialNB()

In [94]:
emails=[
    "hey Riya,do you want to go on a coffe day?",
    "Exclusive offer in Pantaloons,upto 70% off for you.Don't miss it!"
]
emails_count=v.transform(emails)
mul.predict(emails_count)

array([0, 0], dtype=int64)

In [95]:
x_test

1943       K...k:)why cant you come here and search job:)
2200               Not sure I have the stomach for it ...
882     see, i knew giving you a break a few times wou...
700              K..u also dont msg or reply to his msg..
3968    YOU HAVE WON! As a valued Vodafone customer ou...
                              ...
3829    Where are you ? What are you doing ? Are yuou ...
261                                                   Yup
1406                             K..k..any special today?
4045                                Yes, my reg is  Ciao!
3359    I don't run away frm u... I walk slowly &amp; ...
Name: Message, Length: 1393, dtype: object

In [96]:
x_test_count=v.transform(x_test.values)
mul.score(x_test_count,y_test)

0.9834888729361091

In [97]:
from sklearn.pipeline import Pipeline
cf=Pipeline([
    ("vector",CountVectorizer()),
    ("nb",MultinomialNB())
])

In [99]:
cf.fit(x_train,y_train)

Pipeline(steps=[('vector', CountVectorizer()), ('nb', MultinomialNB())])

In [100]:
cf.score(x_test,y_test)

0.9834888729361091

In [101]:
cf.predict(emails)

array([0, 0], dtype=int64)